apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: api-ingress
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web

spec:
  rules:
    - host: ontu-schedule.pavp.pp.ua
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name:  ontu-schedule-bot-admin
                port:
                  number: 443
