apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  labels:
    app: promtail
data:
  promtail.yaml: |
    server:
      http_listen_port: 9080
      grpc_listen_port: 0
    clients:
      - url: http://loki:3100/loki/api/v1/push
    positions:
      filename: /run/promtail/positions.yaml
    scrape_configs:
      - job_name: kubernetes-pods
        pipeline_stages:
          - cri: {}
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: ["__meta_kubernetes_pod_label_app"]
            target_label: "app"
          - source_labels: ["__meta_kubernetes_namespace"]
            target_label: "namespace"
          - source_labels: ["__meta_kubernetes_pod_name"]
            target_label: "pod"
          - source_labels: ["__meta_kubernetes_pod_container_name"]
            target_label: "container"
          - source_labels: ["__meta_kubernetes_pod_name","__meta_kubernetes_namespace","__meta_kubernetes_pod_container_name"]
            target_label: "__path__"
            replacement: "/var/log/containers/$1_$2_$3-*.log"
      - job_name: journal
        journal:
          max_age: 12h
          path: /var/log/journal
        relabel_configs:
          - target_label: job
            replacement: systemd-journal
