---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgresql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgresql
  template:
    metadata:
      labels:
        app: postgresql
    spec:
      containers:
      - name: postgresql
        imagePullPolicy: Always
        image: postgres:17
        ports:
        - containerPort: 5432
  volumeClaimTemplates:
    metadata:
      name: postgresql-pvc
    spec:
      accessModes:
        - ReadWriteOnce
    resources:
      requests:
        storage: 10Gi
