apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  labels:
    app: loki
data:
  loki.yaml: |
    server:
      http_listen_port: 3100
    common:
      path_prefix: /var/loki
      replication_factor: 1
      ring:
        instance_addr: 0.0.0.0
        kvstore:
          store: memberlist
      storage:
        filesystem:
          chunks_directory: /var/loki/chunks
          rules_directory: /var/loki/rules
    memberlist:
      abort_if_cluster_join_fails: false
      join_members: []
    query_range:
      align_queries_with_step: true
    schema_config:
      configs:
        - from: 2020-01-01
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h
    ruler:
      storage:
        type: local
        local:
          directory: /var/loki/rules
    ingester:
      wal:
        enabled: true
        dir: /var/loki/wal
    limits_config:
      retention_period: 720h # 30 days
      allow_structured_metadata: true
    compactor:
      working_directory: /var/loki/compactor
      compaction_interval: 10m
      delete_request_cancel_period: 10m
